@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d9d9d9;
    color: #434343;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    max-width:  757px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 30px;
}

.logo i {
    color: rgb(80, 198, 219);
    font-size: 1.4em;
    font-weight: 200;
}

.login,
.login:active,
.login:focus {
    background-color: #51bb7b;
    color: #fff;
    padding: 3px 5px;
    border-radius: 1.3em;
    border-style: none;
    outline: none;
width: 53px;
height: 19px;
font-size: 9px;
margin-right: 26px;
}

.login:focus {
    background-color: #52864b;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/6;
    grid-row: 1/2;
    border-bottom: 2px solid #b0e0ea;
    height: 50px;
    color: #9f9c9c;
    padding: 20px 0;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
}
header>nav>ul>li>a{
    font-size: .7em;
}

nav>ul > li {
    margin: .5em;
}

.hero {
    grid-column: 1/2;
    grid-row: 2/3;

}

.hero > img {
    width: 100%;
}

.sidebar {
    grid-column: 1/2;
    grid-row:  3/4;
     background-color: #f9f9f9; 
   
    padding: .3em;
    border-top: 3px solid #A78EB3;
    height: 130px;
}

.sidebar h6 {
    margin: 1em 0;
    padding-left: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 10px;
    
  
    

}

.sidebar a {
    font-size: .5em;
    font-weight: 500;
}

.sidebar li {
    margin-bottom: -5px;
}


main {
    grid-column: 2/5;
    grid-row: 2/3;
}

main h1 {
    color: rgb(80, 198, 219);
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: .5em;
    letter-spacing: 0;
}

main p {
    margin: .7em 0;
    color: #8b7f7f;
    font-size: .6em;
}


.help {
    grid-column: 2/5;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    border: 1.5px solid #d9d9d9;
    padding: .7em;
    height: 85px;
    margin-top: 45px;

}

.help_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.help_item h3 {
    font-weight: 600;
    font-size: .7em;

}

.help_item p {
    margin: .75em 0;
    font-size: .5em;
}

.help_item button {
    border: 1.5px solid rgb(80, 198, 219);
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    padding: .4em;
    color:rgb(80, 198, 219) ;
    font-size: 8px;
    width: 30px;
    height: 30px;
   
}








.gallery {
    grid-column: 1/3;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-column-gap: 1.5em;
    grid-row-gap: .5em;
 
}

.gallery img {
    width: 100%;
}
.gallery div{
    width: 100px;
    height: 100px;
}

.sidebar_related {
    grid-column: 3/4;
    grid-row: 5/6;
    margin-left: 20px;



}

.sidebar_related h3 {
    margin-bottom: .3em;
    padding-bottom: .3em;
    border-bottom: 1px solid #d9d9d9;
    font-size: 15px;

}

.sidebar_related a {
    font-size: .75em;
    font-weight: 500;
    color: #838383;
    margin-left: .2em;
}

.sidebar_related ul {
    margin-left: 1.1em;
}
.sidebar_related ul >li{
 font-size: 0.75em;
}


footer {
    grid-column: 1/5;
    grid-row: 6/7;
    text-align: center;
    background-color: #9f9c9c;

    padding: .5em 0;
}

footer h3 {
    color: #fff;
    margin-bottom: .5em;
    font-size: 11.7px;
}

footer p {
    margin-bottom: .6em;
    font-size: .55em;
}

@media screen and (max-width:568px) {
    .container {
        grid-template-rows: repeat(8, auto);
        grid-template-areas: "header""sidebar""main""help""sidebar_related""gallery""footer";
        grid-template-columns: 100%;




    }

    header {
        grid-area: header;
    }


    .hero {
        display: none;
    }

    .sidebar {
        grid-area: sidebar;
    }
    .sidebar ul {
        display: flex;
        justify-content: space-around;
    }

    .sidebar h3 {
        text-align: center;
    }

    .sidebar li {
        display: inline;
    }

    main {
        grid-area: main;
    }

    .help {
        grid-area: help;
    }

    .gallery {
        grid-area: gallery;
    }

    .sidebar_related {
        grid-area: sidebar_related;
    }

    .sidebaar_related {
        display: flex;
        justify-content: space-around;
    }

    .sidebar_related li {
        display: inline;
    }
    
    .sidebar_related ul{
        display: flex;
        justify-content: space-around;
    }
    
    

    .sidebar_related h3 {
        text-align: center;
    }


    footer {
        grid-area: footer;
    }


}
